<section class="app bod">
    <aside class="sidebar">
           <header>
          القائمة
        </header>
      <nav class="sidebar-nav">
   
        <ul>

            <li>
                <a routerLink="Home"><i class="ion-bag">
                    <mat-icon>home</mat-icon>
                </i> 
                    <span> الرئيسية</span></a>
              
              </li>
 <!-- --------------------------------------------------------------------------- -->
 <li>
  <a routerLink="Projects"><i class="ion-bag">
      <mat-icon>apartment</mat-icon>
  </i> 
      <span> السنة المالية</span></a>     
</li>
          <li>
            <a routerLink="Projects"><i class="ion-bag">
                <mat-icon>apartment</mat-icon>
            </i> 
                <span> المشاريع</span></a>                        
          </li>
<!-- --------------------------------------------------------------------------- -->          

 <!-- --------------------------------------------------------------------------- -->

        </ul>
      </nav>
    </aside>
  </section>